* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /* background: linear-gradient(45deg, #00853e, #50c878); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: white;
    position: relative;
}

.card {
    background-color: #242628;
    width: 300px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card-img {
    border-radius: 50%;
    border: 4px solid #f2726a;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin:  auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card-img:hover {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: unset;
    transform: unset;
}

h2 {
    margin-top: 35px;
    color: #f2726a;
}

.social {
    margin: 25px 0px;
}

.social a {
    margin: 25px 20px;
    color: white;
    font-size: 20px;;
}

.social a:hover {
    color: #f2726a;
}

.contact {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid #f2726a;
    margin-top: 25px;
    transition: 0.5s;
}

.contact:hover {
    cursor: pointer;
    background-color: #f2726a;
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}


.dialog {
    display: none;
}

.dialog.open {
    display: inline-block;
    
}

.ground {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: relative;
    background-color: #fffa;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
